@media (max-width:768px){
    header{
        div{
            img{
                margin: .5rem .5rem;
                width: 6.25rem;
                height: 4.0625rem;
            }
        }
    }
    .ulNavegador{
        display: flex;
        list-style: none;
        justify-content: center;
        li{    
            display:inline;
            font-weight: bold; 
            padding-left: .5rem;
            padding-right: .375rem;
            padding-top: 1.875rem;
            a{
                color: white;
                text-decoration: none;
                font-size: 12px;
            }
        }

    }
    .sectionVestimentaRopa{
        display: flex;
        justify-content: center;
        margin: 0rem 1.25rem;
        font-family: 'Roboto',sans-serif;
        justify-content: space-between;
        align-items: center;
        img{
            width:  116px;
            height: 135px;
        }
        h3{
            color: white;
            font-size: .625rem;
        }
    }
    .CamisetasDeportivas {
        img{
            width: 41.25rem;
            height: 21.875rem;
            display:flex;
            justify-content: center;
            align-content: center;
            margin-left: 40px;
        }
        h3{
            margin-left: 40px;
            color: white;
            font-size: 15px;
            font-family: 'Roboto',sans-serif;
        }
    }
    .pieDePagina {
        h2{
            font-size: .625rem;
            margin-left: 20px;
        }
    }
    .ulRedes{
        img{
            width: .4375rem;
            height: .4375rem;
        }
    }
            /*---------------------ROPA SELECCION----------------------*/
    .bodyRopaSeleccion{
        header{
            width: 100%;
            height: 12.5rem;
            background-image: url(../assets/img//festejoarg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 90%;
        }
    }
    .sectionVestimentaSeleccion{
            display: flex;
            justify-content: space-between;
            img{
                width: 90px;
                height: 8.125rem;
            }
            h3{
                color: white;
                font-family: 'Roboto',sans-serif;
            }
    }
    /*---------------------INDEX----------------------*/
    .bodyIndex{
        header{
            background-color: #000000; 
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
                .logo{
                    display: flex;
                    justify-content: space-between;
                    img{
                        margin-top: 3.125rem;
                    }
            }
            h1{
                text-align: center;
                color: white;
                font-family: 'Julius Sans One', sans-serif;
                padding: 1.875rem;
                display: inline;
            }
            }
        .Banner{
                width: 100%;
                height: 780PX;
                background-image: url("https://images.unsplash.com/photo-1526573461737-b504d8040d92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 80%;
                font-size: 20px;
                color: rgb(255, 255, 255);
                text-shadow: .3125rem .3125rem .3125rem rgba(0, 0, 0, 0.397);
                display: flex;
                justify-content:center;
                align-items: center;
                    h1{
                        font-family: 'Julius Sans One', sans-serif;
                        justify-content: center;
                        margin-left: 40px;
                    }
        }
        .FraseLeo{
            h1{
                margin-top: 1.25rem;
                
                color: white;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .foto-frase{
                margin-left: 3.125rem;
                display: flex;
                justify-content: center;
                align-items: center;
                    h2{
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        font-size: .8125rem;
                        width: 25rem;
                        margin-left: 1.25rem;
                    }
                    img{
                        width: 9.375rem;
                        height: 9.375rem;
                    }
            }
        }
        
        .sectionVestimenta{
            h2{
                margin: 2.5rem;
                font-size: 1.875rem;
                font-family: 'Roboto',sans-serif;
                text-align: center;
                color: white; 
            }
            h3{
                color: white;
                font-family: 'Roboto',sans-serif
            }
            img{
                width: 9.375rem;
                height: 13.75rem;
            }
            .Vestimenta{
                display: flex;
                flex-direction: row;
                background-color: rgba(0, 0, 0, 0.589);
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: space-evenly;
                    .tipoVestimenta{
                        border: solid .0625rem rgba(0, 0, 0, 0.493);
                        display: flex;
                        flex-direction: column;
                        border-radius: .625rem;
                        overflow: hidden;
                        margin: 1.5625rem 0px;
                    }
            }
        }
        main{
            background-color: black;
            .apoyaSeleccion{
                p{
                    font-family: 'Roboto',sans-serif;
                    width: 100%;
                    height: 21.875rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 100%;
                    background-image: url("https://www.ole.com.ar/images/2022/12/18/dYmYg_Tdb_1580x750__1.jpg");
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.875rem;
                    color: rgb(255, 255, 255);
                    text-shadow: .3125rem .3125rem .3125rem rgb(0, 0, 0);
                }
            }
        }
    }
}
